<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ssl-helloworld-client/src/main/java/com/rpsign/net/helloworld/client/app/SSLClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rpsign.net.helloworld.client.app.SSLClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ssl-helloworld-client"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djavax.net.debugl=all"/>
</launchConfiguration>
